@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* banner section styles */
.banner-container {
    max-width: 1320px;
    height: 600px;
    background-image: url('/assets/images/Banner-Image.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 13px;
}

.banner-content p {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}

.banner-content h1 {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* section section styles */
.section-section-container {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
}

.section-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.section-section-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    margin-bottom: 48px;
}

.section-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}

.section-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}

/* midnight part section styles */
.midnight-section-container {
    max-width: 1320px;
    height: 600px;
    background-image: url('/assets/images/vector.png');
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    padding-left: 126px;
    padding-right: 108px;
    padding-top: 68px;
    padding-bottom: 67px;
}

.midnight-section-container .left-side-content {
    width: 50%;
}

.midnight-section-container .left-side-content h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    margin-bottom: 24px;
}

.midnight-section-container .left-side-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.midnight-section-container .left-side-content a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 32px;
}

.midnight-section-container .right-side-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Portfolio section styles */
.portfolio-container {
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
}

.portfolio-container .portfolio-content span {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.portfolio-container .portfolio-content h2 {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
}

.portfolio-container .portfolio-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 48px;
}
.portfolio-items .item img{
    width: 100%;
    height: 100%;
}