@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* banner section styles */
.banner-container {
    width: 1320px;
    height: 600px;
    background-image: url('/assets/images/Banner Image.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.banner-content p {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}

.banner-content h1 {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}